@import "~taro-ui/dist/style/components/search-bar.scss";
@import "~taro-ui/dist/style/components/button.scss";
@import "~taro-ui/dist/style/components/icon.scss";
//@import "~taro-ui/dist/style/components/list.scss";
//@import "~taro-ui/dist/style/components/icon.scss";
//@import "~taro-ui/dist/style/components/card.scss";

@import "~taro-ui/dist/style/components/load-more.scss";
@import "~taro-ui/dist/style/components/activity-indicator.scss";
@import "~taro-ui/dist/style/components/button.scss";

.at-search-bar {
  margin-bottom: 6Px;
}
.at-search-bar__input-cnt {
  position: relative;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: 100%;
  height: 40PX;
  background-color: #F7F7F7;
  border-radius: 20PX;
  overflow: hidden;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.at-search-bar__placeholder-wrap {
  height: 40Px;
}

.at-search-bar__input {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 40PX !important;
  padding: 0 37PX;
  color: #000;
  font-size: 14PX !important;
  text-align: left;
  background-color: transparent;
  -webkit-transition: width 0.3s;
  -o-transition: width 0.3s;
  transition: width 0.3s;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.at-search-bar__clear {
  height: 40Px;
}
.load-more >.at-load-more__cnt > at-button > .at-button {
  font-size: 16px;
}

.load-more > .at-load-more__tip {
  font-size: 16px;
}
.at-loading .at-loading__ring {
  margin-top: 2Px;
  height: 20Px;
  width: 20Px;
}
.at-activity-indicator__content {
  font-size: 18Px;
  padding-bottom: 8Px;
}

