@import "~taro-ui/dist/style/components/list.scss";
@import "~taro-ui/dist/style/components/icon.scss";
page {
  width: 100%;
  height: 100%;
}
.mine-index {
  width: 100%;
  height: 100%;
  background-color: #F0F0F0;
}

.about-reader {
  margin-top: 20Px;
}
.faq {
  margin-top: 20Px;
}
